# Ignore virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log
